* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}
#canvas {
  display: block;
}
.controller {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
}
.controller button {
  padding: 10px 20px;
  border-radius: 4px;
  background: #444;
  color: white;
  outline: none;
  border: none;
  margin-bottom: 15px;
}
.controller button:hover {
  background: #666;
}
